<mat-drawer-container class="viewer-root" [hasBackdrop]="true">
  <!-- START: Left Drawer to show Table of Contents  -->
  <mat-drawer #leftDrawer mode="over" position="start">
    <mat-toolbar text-center>
      <button mat-icon-button aria-label="Close" (click)="leftDrawer.close()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span flex-grow>Table of Contents</span>
    </mat-toolbar>
    <!-- Show loading while epub functions -->
    <div *ngIf="contentLoading" loading>
      <mat-spinner [strokeWidth]="3" [diameter]="40"></mat-spinner>
    </div>

    <div *ngIf="!contentLoading">
      <mat-action-list>
        <button mat-list-item *ngFor="let tocItem of ePubService.getBookTOC()" (click)="gotoFromToc(tocItem)">
          {{tocItem.label}}
        </button>
      </mat-action-list>
    </div>
  </mat-drawer>
  <!-- END: Left Drawer to show Table of Contents  -->

  <!-- START: Content to show Book contents  -->
  <mat-drawer-content>
    <mat-toolbar book-content-toolbar>
      <button mat-icon-button aria-label="Table of Contents" (click)="leftDrawer.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <span text-center book-title>Title</span>
      <button mat-icon-button aria-label="Bookmark" (click)="toggleBookmarkCurrentPage()">
        <mat-icon *ngIf="isCurrentPageBookmarked">bookmark</mat-icon>
        <mat-icon *ngIf="!isCurrentPageBookmarked">bookmark_border</mat-icon>
      </button>
      <button mat-icon-button aria-label="Formatting" (click)="openFormattingActionSheet()">
        <mat-icon>format_size</mat-icon>
      </button>
      <button mat-icon-button aria-label="Information" (click)="openRightPane()">
        <mat-icon>widgets</mat-icon>
      </button>
    </mat-toolbar>

    <div book-container id="bcontainer">
      <!-- Show loading while epub functions -->
      <div *ngIf="contentLoading" loading>
        <mat-spinner [strokeWidth]="3" [diameter]="40"></mat-spinner>
      </div>
      <div id="book_content"></div>
      <div click-handler (click)="emulateSwipe($event)"></div>
    </div>

    <!-- Book progress for the current chapter -->
    <mat-progress-bar mode="determinate" [value]="currentChapterReadingProgress" color="warn"></mat-progress-bar>

  </mat-drawer-content>
  <!-- END: Content to show Book contents  -->

  <!-- START: Right Drawer to show Contextual Menus  -->
  <mat-drawer #rightDrawer mode="over" position="end">
    <mat-toolbar text-center right-panel-toolbar>
      <button mat-icon-button aria-label="Close" (click)="closeRightPanel()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <!-- <span flex-grow *ngIf="rightPaneAction=='bookmark'">Bookmarks</span>
      <div flex-grow *ngIf="rightPaneAction=='search'">
        <mat-form-field appearance="standard">
          <input matInput placeholder="Search" #epubSearchInput>
        </mat-form-field>
        <button mat-icon-button aria-label="Search" (click)="doSearch(epubSearchInput.value)">
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <span flex-grow *ngIf="rightPaneAction=='settings'">Settings</span> -->
    </mat-toolbar>
    <!-- Show loading while epub functions -->
    <div *ngIf="contentLoading" loading>
      <mat-spinner [strokeWidth]="3" [diameter]="40"></mat-spinner>
    </div>

    <div text-center *ngIf="!contentLoading" cover-info-container>
      <div><img [src]="ePubService.epubBookCover" alt="Cover Image" cover-image></div>
      <div cover-title>{{ePubService.epubBookTitle}}</div>
      <div cover-author>{{ePubService.epubBookAuthor}}</div>
    </div>

    <div *ngIf="!contentLoading">
      Right Drawer Right Drawer Right Drawer Right Drawer Right Drawer Right Drawer Right Drawer Right Drawer
    </div>
  </mat-drawer>
  <!-- END: Right Drawer to show Contextual Menus  -->

</mat-drawer-container>
