[actions-container] {
  display: flex;
  flex-direction: column;

  [theme-chooser],
  [line-height-chooser],
  [font-size-chooser] {
    padding: 0 0 25px;

    h4 {
      margin: 10px 0 14px;
    }

    [themes-row] {
      display: flex;
      flex-direction: row;

      div {
        flex-grow: 1;
        text-align: center;

        button {
          font-weight: bold;
          font-size: 1.6em;
        }

        button[normal-font] {
          font-weight: bold;
          font-size: 1em;
        }


      }
    }
  }

  [font-chooser] {
    padding: 0 0 25px;

    h4 {
      margin: 10px 0 14px;
    }

    [themes-row] {
      display: block;
      text-align: center;

      button {
        margin: 0 0 8px;
      }
    }
  }


}
