<div actions-container>
  <div theme-chooser>
    <h4>Themes</h4>
    <div themes-row>
      <div><button mat-mini-fab theme-basic>T</button></div>
      <div><button mat-mini-fab theme-yellow>T</button></div>
      <div><button mat-mini-fab theme-dark>T</button></div>
      <div><button mat-mini-fab theme-lightdark>T</button></div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div font-size-chooser>
    Font Size
  </div>
  <mat-divider></mat-divider>
  <div font-chooser>
    Font
  </div>
</div>
