[actions-container] {
  display: flex;
  flex-direction: column;

  [theme-chooser] {
    padding: 0 0 25px;

    h4 {
      margin-bottom: 15px;
    }

    [themes-row] {
      display: flex;
      flex-direction: row;

      div {
        flex-grow: 1;
        text-align: center;

        button {
          font-weight: bold;
          font-size: 1.6em;
        }

        [theme-basic] {
          background: #FFF;
          border: 1px solid #a5a5a5;
          color: #000;
        }

        [theme-yellow] {
          background: #FFDA8C;
          border: 1px solid #FFF;
          color: #413322;
        }

        [theme-dark] {
          background: #000;
          border: 1px solid #000;
          color: #fff;
        }

        [theme-lightdark] {
          background: #3f3f3f;
          border: 1px solid #000;
          color: #cfae6a;
        }


      }
    }
  }


}
