/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$myapp-primary: mat-palette($mat-orange, 900);
$myapp-accent:  mat-palette($mat-grey, 800);

// The warn palette is optional (defaults to red).
$myapp-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$myapp-theme: mat-light-theme($myapp-primary, $myapp-accent, $myapp-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($myapp-theme);
//-------------------------------------------------------------

// clear out html and body
html,
body {
    margin: 0;
    padding: 0;
    background: #F7F7F7;
    color: rgba(0, 0, 0, .87);
    direction: ltr;
    font-family: 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    // font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}

.flex-row, [flex-row] {
  display: flex;
  flex-direction: row;
}

.flex-column, [flex-column] {
  display: flex;
  flex-direction: column;
}

.flex-grow, [flex-grow] {
  flex-grow: 1;
}

.visible, [visible] {
    visibility: visible;
}

.hidden, [hidden] {
    visibility: hidden;
}

.full-width, [full-width] {
    width: 100%;
}

.full-height, [full-height] {
    height: 100%;
}

.pull-right, [pull-right] {
    float: right;
}

.pull-left, [pull-left] {
    float: left;
}

.text-center, [text-center] {
    text-align: center;
}

.text-justify, [text-justify] {
    text-align: justify;
}

.text-left, [text-left] {
    text-align: left;
}

.text-right, [text-right] {
    text-align: right;
}

.padding, [padding] {
    padding: 1em;
}

.padding-horiz, [padding-horiz] {
    padding-left: 1em;
    padding-right: 1em;
}

.padding-vert, [padding-vert] {
    padding-top: 1em;
    padding-bottom: 1em;
}

.margin, [margin] {
    margin: 1em;
}

.margin-left, [margin-left] {
    margin-left: 1em !important;
}

.margin-right, [margin-right] {
    margin-right: 1em !important;
}

.margin-horiz, [margin-horiz] {
    margin-left: 1em;
    margin-right: 1em;
}

.margin-vert, [margin-vert] {
    margin-top: 1em;
    margin-bottom: 1em;
}
